@charset "UTF-8";

/* リセット */
body,h1,h2,h3,h5,h6,p,ul,figure{
  margin: 0;
  padding: 0;
}
/* a , a:hover の初期設定 */

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  opacity: 0.8;
}

.sr-only{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* 基本設定 */
body{
  font-family: "NOTO Sans JP" , "sans-serif";
  margin: 0px;
}

main{
  margin: auto;
  padding-bottom: 180px;
  width: 85%;
}


/* 各要素アニメーション */
.scrollanime{
  opacity: 0;
}

.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.updown{
  transform: translateY(100px);
}

/* トップ画像アニメーション */
.effect-fade{
  opacity: 0;
  transform: translate(0 , 0);
  transition: all 3s;
}

.effect-fade.effect-scroll{
  opacity: 1;
  transform: translate(0 , 0);
}




/* サイト名 */

.site img{
  width: 250px;
  margin: 10px 10px 10px 10px;
}

/* ナビ部分 */

.cf{
  display: flex;
  margin-right: 80px;
}

.cfli{
  margin-left: 70px;
  list-style: none;
}

/* ヘッダー */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

nav{
  margin-top: 200px;
}

.timg{
  width: 100%;
  padding-left: 100px;
  margin-top: 300px;
  box-sizing: border-box;
}

.timg::after{
  content: "";
  display: block;
  position: absolute;
  top: 250px;
  left: 35%;
  width: 800px;
  height: 300px;
  background-color: #EB6101;
  z-index: -100;
}

.guitar{
  height: 300px;
  position: relative;
  z-index: 20;
}

.menubox{
  display: flex;
  justify-content: space-between;
  margin: 300px auto;
}

.mainbox1{
  background-color: #FA8C64;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  opacity: .9;
  position: relative;
}

.mainbox1 img{
  width: 250px;
  height: 250px;
  opacity: .5;
}

.mainbox1 p{
  color: #efefef;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.mainbox2{
  background-color: #FA8C64;
  width: 250px;
  height: 250px;
  opacity: .9;
  position: relative;
}

.mainbox2 img{
  width: 250px;
  height: 250px;
  opacity: .5;
}

.mainbox2 p{
  color: #efefef;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.mainbox3{
  background-color: #FA8C64;
  width: 250px;
  height: 250px;
  margin-right: 50px;
  opacity: .9;
  position: relative;
}

.mainbox3 img{
  width: 250px;
  height: 250px;
  opacity: .5;
}

.mainbox3 p{
  color: #efefef;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.conts{
  margin: 180px 50px 50px 50x;
}

.conts-container{
  display: flex;
  justify-content: space-between;
}

.conts img{
  width: 45%;
  object-fit: cover;
  align-items: center;
}

.conts h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.conts p{
  width: 40%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company{
  background: #F2F2F2;
  height: 1100px;
  margin: 180px auto;
  width: 80%;
}

.company p{
  text-align: center;
  font-weight: bolder;
  font-size: 64px;
  padding: 70px;
}

.companyul{
  display: block;
  width: 65%;
  margin: auto;
}

.companyli{
  list-style: none;
  display: flex;
  border-bottom: solid 2px;
  margin: 50px;
}

.front{
  margin-right: 50px;
  width: 64px;
}

.map{
  margin: 180px 0;
}

.mapflex{
  display: flex;
  justify-content: space-between;
  margin: 180px;
}

.flex-ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapli{
  list-style: none;
  padding-bottom: 50px;
}

.mapli p{
  margin: 10px 10px 10px 30px;
}

.mapli-menu{
  margin: 10px 10px 10px 30px;
}

.contact{
  width: 100%;
  height: auto;
  margin-top: 180px;
}

.ctext{
  text-align: center;
  color: #333333;
  padding: 50px;
}

.cbtn{
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #EB6101;
  box-shadow: 0px 5px 4px #333;
  margin: auto;
  z-index: 1;
}

.cbtn a{
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 200px;
  z-index: 2;
  display: block;
}

.cbtn:hover{
  opacity: 0.8;
}

.cbtn:active{
  position: relative;
  top: 5px;
  box-shadow: none
}

footer{
  background: #BC763C;
  color: #efefef;
  display: flex;
}

.f-container{
  margin: 10px auto 0px auto;
}

.f-container img{
  width: 60%;
}

.logo p{
  margin: 10px 0px 10px 0px;
}

.logo{
  text-align: left;
}

.nav-container{
  margin: auto;
}

.nav-ul{
  display: flex;
}

.nav-li{
  margin-left: 80px;
  list-style: none;
}

.sns{
  display: flex;
  list-style: none;
}

.facebook,.twitter,.instagram{
  margin-top: 50px;
  margin-left: 120px;
}






/* ここからcompany.htmlのcss */
main>h1{
  margin-top: 380px;
  text-align: center;
}

.factory{
  width: 100%;
  margin-top: 180px;
  margin-bottom: 590px;
  position: relative;
}

.f-container{
  width: auto;
  margin-left: 50px;
}

.factory p{
  width: 50%;
  height: auto;
  text-align: justify;
  text-justify: inter-ideograph;
  z-index: 100;
}

.factory img{
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -100;
  display: block;
}

.make-line{
  width: 100%;
}

.line{
  width: 65%;
}

.line p{
  text-align: justify;
  text-justify: inter-ideograph;
}

.img-cluster{
  display: flex;
  margin: auto;
}

.img-cluster img{
  width: 20%;
}






/* ここからwork.htmlのcss */

.manu-guitar-box{
  display: block;
}

/* .menubox{
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
} */

.guitar-menu1{
  justify-content: space-between;
  display: flex;
  margin-top: 180px;
  margin-bottom: 180px;
}

.guitar-menu2{
  justify-content: space-between;
  display: flex;
}

.guitar-menu1 ul{
  margin-top: 50px;
}

.guitar-menu2 ul{
  margin-top: 50px;
}

.guitar-menu1 li{
  list-style: none;
  display: flex;
}

.guitar-menu2 li{
  list-style: none;
  display: flex;
}

.guiytar-front{
  width: 80px;
  margin-right: 30px;
}

.guitar-box1{
  margin: auto;
}

.guitar-box2{
  margin: auto;
}

.guitar-box3{
  margin: auto;
}

.guitar-box4{
  margin: auto;
}

.guitar-box1 img{
  width: 250px;
  height: 250px;
}

.guitar-box2 img{
  width: 250px;
  height: 250px;
}

.guitar-box3 img{
  width: 250px;
  height: 250px;
}

.guitar-box4 img{
  width: 250px;
  height: 250px;
}

.alliance{
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
}

.alliance h2,h2+h3{
  text-align: center;
  margin: 100px;
}

.alliance-company{
  margin: auto;
  width: 85%;
  display: flex;
  /* justify-content: space-between; */
}

.alliance-company2{
  margin: auto;
  padding-bottom: 100px;
  width: 85%;
  display: flex;
  /* justify-content: space-between; */
}

.alliance-company img{
  width: 500px;
  height: 500px;
}

.alliance-company2 img{
  width: 500px;
  height: 500px;
}

.alliance-company p{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  line-height: 30px;
  margin-left: 50px;
}

.alliance-company2 p{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  line-height: 30px;
  margin-right: 50px;
}









/* ここからjob.html のcss */
.job-1{
  margin: auto;
}

.job-1 h2{
  text-align: center;
  margin-top: 180px;
}
.job-container{
  display: flex;
  margin-top: 150px; 
}

.job-a img{
  width: 500px;
  object-fit: cover;
}

.job-b{
  width: 50%;
  margin-left: 65px;
}

.job-b h3{
  text-align: center;
}

.job-b p{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-2{
  background: #F2F2F2;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  height: 1250px;
  width: 80%;
}

.job-2 p{
  text-align: center;
  font-weight: bolder;
  font-size: 64px;
  padding: 70px;
}

.job-2-ul{
  display: block;
  width: 80%;
  margin: auto;
  border: solid 2px #333;
}

.job-2-li{
  list-style: none;
  display: flex;
  height: 100px;
}

.job-2-ul>li+li{
  border-top: solid 2px #333;
}

.job-2-front{
  border-right: solid 2px #333;
  padding: 40px 20px 40px 20px;
  margin-right: 50px;
  width: 100px;
  text-align: left;
}

.job-2-rear{
  padding: 40px 20px 40px 20px;
  text-align: left;
}




/* ここからcontact.htmlのcss */
.ctell{
  margin: 180px 0 50px;
  text-align: center;
  color: #333333;
}

.contact-text{
  height: 40px;
  width: 400px;
  border: 1px solid #000;
}

.contact-menu{
  font-size: 24px;
  margin-right: 100px;
  width: 200px;
  text-align: left;
}

.text-area{
  width: 400px;
  height: 100px;
  border: 1px solid #000;
}

.contact-btn{
  width: 70px;
  height: 50px;
  background-color: #EB6101;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0px 2px 4px #333;
  border-radius: 10px;
  z-index: 1;
}

.cbtn:hover{
  opacity: 0.8;
}

.contact-btn:active{
  position: relative;
  top: 2px;
  box-shadow: none
}

.contact-btn a{
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 50px;
  z-index: 2;
  display: block;
}

.cbtn{
  margin-bottom: 180px;
}

#contact-form{
  margin: auto;
  background-color: #efefef;
  width: 80%;
  height: 1600px;
}

.job-3 h2{
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  padding: 100px;
}

.job-3-p{
  padding: 50px;
  text-align: center;
}

.contact-menu{
  text-align: center;
}

.job-3-box1{
  text-align: center;
  margin: 100px auto;
  display: flex;
  width: fit-content;
  height: 80px;
}











@media all and (min-width:1024px) and (max-width:1280px) {

  .timg{
    width: 100%;
    margin: 300px 0 0 0;
    padding: 0;
  }

  .timg::after{
    content: "";
    display: block;
    position: absolute;
    top: 250px;
    left: auto;
    right: 0;
    width: 800px;
    height: 300px;
    background-color: #EB6101;
    z-index: -100;
  }

  .menubox{
    margin-bottom: 0;
  }

  .mainbox1{
    margin-left: 0px;
  }

  .mainbox3{
    margin-right: 0px;
  }

  .conts{
    /* display: flex;
    justify-content: space-between; */
    margin:  180px auto;
  }

  .conts img{
    /* width: 45%; */
    object-fit: cover;
    align-items: center;
  }

  .conts p{
    width: 45%;
    /* padding: 10px 10px; */
  }

  .conts span{
    font-weight: bold;
    font-size: 36px;
  }

  .company{
    background: #F2F2F2;
    height: 1050px;
    margin: 180px 50px 50px 50px;
    width: 90%;
  }

  .company p{
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
    padding: 70px;
  }

  .companyul{
    display: block;
    width: 65%;
    margin: auto;
  }

  .companyli{
    list-style: none;
    display: flex;
    border-bottom: solid 2px;
    margin: 50px;
  }

  .front{
    margin-right: 50px;
    width: 64px;
  }

  .map{
    margin: 180px 50px 50px 50px;
  }

  .mapflex{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
  }

  .flex-ul{
    width: 25%;
  }

  .mapli{
    list-style: none;
    padding-bottom: 50px;
    vertical-align: middle;
  }

  .mapli div p{
    margin: 10px 10px 10px 30px;
  }

  .contact{
    width: 100%;
    height: auto;
  }

  .ctext{
    text-align: center;
    color: #333333;
    padding: 50px;
  }

  .cbtn{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #EB6101;
    box-shadow: 0px 5px 4px #333;
    margin: auto;
    z-index: 1;
  }

  .cbtn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 200px;
    z-index: 2;
    display: block;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .cbtn:active{
    position: relative;
    top: 5px;
    box-shadow: none
  }

  footer{
    background: #BC763C;
    color: #efefef;
    display: flex;
  }

  .f-container{
    margin: 10px auto 0px auto;
  }

  .f-container img{
    width: 60%;
  }

  .logo p{
    margin: 10px 0px 10px 0px;
  }

  .logo{
    text-align: left;
  }

  .nav-container{
    margin: auto;
  }

  .nav-ul{
    display: flex;
  }

  .nav-li{
    margin-left: 80px;
    list-style: none;
  }

  .sns{
    display: flex;
    list-style: none;
  }

  .facebook,.twitter,.instagram{
    margin-top: 50px;
    margin-left: 120px;
  }






  /* ここからcompany.htmlのcss */
  main>h1{
    margin-top: 380px;
    text-align: center;
  }

  .factory{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 590px;
    position: relative;
  }

  .f-container{
    width: auto;
    margin-left: 50px;
  }

  .f-container h2{
    margin-left: 30px;
  }

  .factory p{
    width: 50%;
    height: auto;
    text-align: justify;
    text-justify: inter-ideograph;
    z-index: 100;
  }

  .factory img{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -100;
    display: block;
  }

  .line{
    width: 80%;
    margin-left: 50px;
  }

  .line h2{
    margin-left: 30px;
  }

  .line p{
    text-align: justify;
    text-justify: inter-ideograph;
  }

  .img-cluster{
    display: flex;
    margin-top: 30px;
  }

  .img-cluster img{
    width: 175px;
    height: 175px;
  }






  /* ここからwork.htmlのcss */

  .manu-guitar-box{
    display: block;
  }

  /* .menubox{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
  } */

  .guitar-menu1{
    justify-content: space-between;
    display: flex;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .guitar-menu2{
    justify-content: space-between;
    display: flex;
  }

  .guitar-menu1 ul{
    margin-top: 50px;
  }

  .guitar-menu2 ul{
    margin-top: 50px;
  }

  .guitar-menu1 li{
    list-style: none;
    display: flex;
  }

  .guitar-menu2 li{
    list-style: none;
    display: flex;
  }

  .guiytar-front{
    width: 80px;
    margin-right: 30px;
  }

  .guitar-box1{
    margin: auto;
  }

  .guitar-box2{
    margin: auto;
  }

  .guitar-box3{
    margin: auto;
  }

  .guitar-box4{
    margin: auto;
  }

  .guitar-box1 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box2 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box3 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box4 img{
    width: 250px;
    height: 250px;
  }

  .alliance{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance h2,h2+h3{
    text-align: center;
    margin: 100px;
  }

  .alliance-company{
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
  }

  .alliance-company img{
    width: 400px;
    height: 400px;
  }

  .alliance-company2{
    padding-bottom: 0;
  }

  .alliance-company2 img{
    width: 400px;
    height: 400px;
  }

  .alliance-company p{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
  }

  .alliance-company2 p{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
  }









  /* ここからjob.html のcss */
  .job-main{
    width: 100%;
  }

  .job-1{
    margin: auto;
    width: 90%;
  }

  .job-1 h2{
    text-align: center;
    margin-top: 180px;
  }
  .job-container{
    display: flex;
    margin-top: 150px; 
  }

  .job-a img{
    height: 350px;
    object-fit: cover;
  }

  .job-b{
    width: 55%;
    margin-left: 40px;
  }

  .job-b h3{
    text-align: center;
  }

  .job-b p{
    margin-top: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .job-2{
    background: #F2F2F2;
    margin: 180px auto;
    height: 1250px;
    width: 80%;
  }

  .job-2 p{
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
    padding: 70px;
  }

  .job-2-ul{
    display: block;
    width: 80%;
    margin: auto;
    border: solid 2px #333;
  }

  .job-2-li{
    list-style: none;
    display: flex;
    height: 100px;
  }

  .job-2-ul>li+li{
    border-top: solid 2px #333;
  }

  .job-2-front{
    border-right: solid 2px #333;
    padding: 20px;
    margin-right: 50px;
    width: 100px;
    text-align: left;
  }

  .job-2-rear{
    padding: 20px;
    text-align: left;
  }






  /* ここからcontact.htmlのcss */
  .ctell{
    margin-top: 180px;
  }

  .contact-btn{
    width: 70px;
    height: 50px;
    background-color: #EB6101;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0px 2px 4px #333;
    border-radius: 10px;
    z-index: 1;
  }

  .cbtn{
    margin-bottom: 180px;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .contact-btn:active{
    position: relative;
    top: 2px;
    box-shadow: none
  }

  .contact-btn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    display: block;
  }

  #contact-form{
    margin: auto;
    width: 80%;
    height: 1500px;
  }

  .job-3 h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 75px 50px 50px;
  }

  .job-3 div{
    text-align: center;
  }

  .job-3-box1{
    text-align: center;
    margin: 100px;
    display: flex;
    height: 80px;
  }


  .job-3-box2{
    text-align: center;
    margin: 100px;
    display: flex;
    height: 80px;
  }


  .job-3-box3{
    text-align: center;
    margin: 100px;
    display: flex;
    height: 80px;
  }


  .job-3-box4{
    text-align: center;
    margin: 100px;
    display: flex;
    height: 80px;
  }


  .job-3-box5{
    text-align: center;
    margin: 100px;
    display: flex;
    height: 80px;
  }

  .contact-text{
    height: 30px;
    width: 300px;
  }

  .contact-menu{
    font-size: 16px;
    margin-right: 50px;
    width: 150px;
    text-align: left;
  }

  .text-area{
    width: 300px;
    height: 100px;
  }
}








@media all and (min-width:768px) and (max-width:1023px){
  
  /* ナビ部分 */

  .cf{
    display: flex;
    margin-right: 20px;
  }

  .cfli{
    margin-left: 30px;
    list-style: none;
  }

  /* ヘッダー */

  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
  }

  .timg{
    width: 100%;
    margin: 300px 0 0 0;
    padding: 0;
  }

  .timg::after{
    content: "";
    display: block;
    position: absolute;
    top: 250px;
    left: auto;
    right: 0;
    width: 700px;
    height: 250px;
    background-color: #EB6101;
    z-index: -100;
  }

  .guitar{
    width: 700px;
    object-position: 100% 50%;
    position: relative;
    z-index: 20;
  }

  .menubox{
    display: block;
  }

  .mainbox1{
    background-color: #FA8C64;
    width: 350px;
    height: 350px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
    position: relative;
  }

  .mainbox1 img{
    width: 350px;
    height: 350px;
    opacity: .5;
  }

  .mainbox1 p{
    color: #efefef;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox2{
    background-color: #FA8C64;
    width: 350px;
    height: 350px;
    opacity: .9;
    position: relative;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox2 img{
    width: 350px;
    height: 350px;
    opacity: .5;
  }

  .mainbox2 p{
    color: #efefef;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox3{
    background-color: #FA8C64;
    width: 350px;
    height: 350px;
    margin-right: 50px;
    opacity: .9;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox3 img{
    width: 350px;
    height: 350px;
    opacity: .5;
  }

  .mainbox3 p{
    color: #efefef;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .conts{
    margin-top: 180px;
  }

  .conts-container{
    display: block;
  }

  .conts img{
    display: block;
    width: 500px;
    object-fit: cover;
    margin: auto;
  }

  .conts h2{
    font-size: 30px;
    text-align: center;
  }

  .conts p{
    width: 450px;
    height: auto;
    margin: 50px auto;
  }

  .company{
    background: #F2F2F2;
    height: 950px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .company p{
    text-align: center;
    font-weight: bolder;
    font-size: 56px;
    padding: 50px 50px 0 50px;
  }

  .companyul{
    display: block;
    width: 70%;
    margin: auto;
  }

  .companyli{
    list-style: none;
    display: flex;
    border-bottom: solid 2px;
    margin: 50px;
  }

  .company-j{
    line-height: 72px;
  }

  .front{
    margin-right: 50px;
    width: 64px;
  }

  .map{
    margin: 180px 50px 50px 50px;
  }

  .mapflex{
    display: block;
    margin: 180px auto;
  }

  .flex-ul{
    display: flex;
    flex-direction: row;
  }

  .mapli{
    display: flex;
    list-style: none;
    padding-bottom: 50px;
    vertical-align: middle;
  }

  .mapli div{
    font-size: 16px;
  }

  .contact{
    width: 100%;
    height: auto;
  }

  .ctext{
    text-align: center;
    color: #333333;
    padding: 50px;
  }

  .cbtn{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    background-color: #EB6101;
    box-shadow: 0px 5px 4px #333;
    margin: auto;
    z-index: 1;
  }

  .cbtn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 10px;
    z-index: 2;
    display: block;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .cbtn:active{
    position: relative;
    top: 5px;
    box-shadow: none
  }

  footer{
    background: #BC763C;
    color: #efefef;
    display: flex;
  }

  .f-container{
    width: 81px;
    margin: 20px;
  }

  .f-container img{
    width: 81px;
  }

  .nav-container{
    margin: auto;
  }

  .nav-ul{
    display: flex;
  }

  .nav-li{
    margin-left: 80px;
    list-style: none;
  }

  .sns{
    display: flex;
    list-style: none;
  }

  .facebook,.twitter,.instagram{
    margin-top: 50px;
    margin-left: 120px;
  }






  /* ここからcompany.htmlのcss */
  main>h1{
    margin-top: 300px;
    text-align: center;
  }

  .factory{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 590px;
    position: relative;
  }

  .f-container{
    width: auto;
    /* margin-left: 50px; */
  }

  .f-container h2{
    margin-left: 30px;
  }

  .factory p{
    width: 50%;
    height: auto;
    text-align: justify;
    text-justify: inter-ideograph;
    z-index: 100;
  }

  .factory img{
    width: 600px;
    object-fit: cover;
    /* height: 600px; */
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: -100;
    display: block;
  }

  .line{
    width: 80%;
    margin-left: 50px;
  }

  .line h2{
    margin-left: 30px;
  }

  .line p{
    text-align: justify;
    text-justify: inter-ideograph;
  }

  .img-cluster{
    display: flex;
    margin-top: 30px;
  }

  .img-cluster img{
    width: 130px;
    height: 130px;
  }

  .factory-map{
    margin: auto;
    width: 552px;
  }

  .mapli{
    padding: 0;
    margin-top: 30px;
    width: 270px;
  }

  .mapli-front{
    width: 150px;
  }

  .mapli-bottom{
    width: 270px;
  }

  .mapli p{
    font-size: 16px;
  }

  .mapli-p1{
    margin: 10px 10px 10px 0;
  }






  /* ここからwork.htmlのcss */

  .manu-guitar-box{
    display: block;
  }

  .guitar-menu1{
    justify-content: space-between;
    display: flex;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .guitar-menu2{
    justify-content: space-between;
    display: flex;
  }

  .guitar-menu1 ul{
    margin-top: 50px;
  }

  .guitar-menu2 ul{
    margin-top: 50px;
  }

  .guitar-menu1 li{
    list-style: none;
    display: flex;
  }

  .guitar-menu2 li{
    list-style: none;
    display: flex;
  }

  .guiytar-front{
    width: 80px;
    margin-right: 30px;
  }

  .guitar-box1{
    margin: auto;
  }

  .guitar-box2{
    margin: auto;
  }

  .guitar-box3{
    margin: auto;
  }

  .guitar-box4{
    margin: auto;
  }

  .guitar-box1 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box2 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box3 img{
    width: 250px;
    height: 250px;
  }

  .guitar-box4 img{
    width: 250px;
    height: 250px;
  }

  .alliance{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance h2,h2+h3{
    text-align: center;
    margin: 100px;
  }

  .alliance-company{
    display: block;
    width: 85%;
    justify-content: space-between;
  }

  .alliance-company2{
    display: flex;
    flex-direction: column-reverse;
  }

  .alliance-company img{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company2 img{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company p{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance-company2 p{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }









  /* ここからjob.html のcss */
  .job-main{
    width: 100%;
  }

  .job-1{
    margin: auto;
  }

  .job-1 h2{
    text-align: center;
    margin-top: 180px;
  }
  .job-container{
    display: block;
    margin-top: 150px; 
  }

  .job-a img{
    display: block;
    height: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b{
    width: 55%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b h3{
    text-align: center;
  }

  .job-b p{
    margin-top: 50px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .job-2{
    background: #F2F2F2;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    height: 1400px;
    width: 80%;
  }

  .job-2 p{
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
  }

  .job-2-ul{
    display: block;
    width: 80%;
    margin: auto;
  }

  .job-2-li{
    list-style: none;
    height: auto;
  }

  .job-2-ul>li+li{
    border-top: 2px solid #333;
  }

  .job-2-front{
    margin-right: 10px;
    padding: 40px 5px;
    width: 142px;
    height: auto;
  }

  .job-2-rear{
    padding: 40px 30px 40px 0;
    height: auto;
    width: 100%;
  }








  /* ここからcontact.htmlのcss */
  .ctell{
    margin-top: 80px;
  }

  .cbtn{
    margin-bottom: 180px;
  }

  .contact-btn{
    width: 70px;
    height: 50px;
    background-color: #EB6101;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0px 2px 4px #333;
    border-radius: 10px;
    z-index: 1;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .contact-btn:active{
    position: relative;
    top: 2px;
    box-shadow: none
  }

  .contact-btn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    display: block;
  }

  #contact-form{
    margin: auto;
    height: 1000px;
  }

  .job-3 h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 50px;
  }

  .job-3-p{
    margin-bottom: 50px;
  }

  .job-3-box1{
    text-align: center;
    margin: auto;
    display: flex;
    height: 80px;
  }

  .job-3-box2{
    text-align: center;
    margin: auto;
    display: flex;
    height: 80px;
  }

  .job-3-box3{
    text-align: center;
    margin: auto;
    display: flex;
    height: 80px;
  }

  .job-3-box4{
    text-align: center;
    margin: auto;
    display: flex;
    height: 80px;
  }

  .job-3-box5{
    text-align: center;
    margin: auto;
    display: flex;
    height: 80px;
  }

  .contact-text{
    height: 30px;
    width: 250px;
  }

  .contact-menu{
    font-size: 16px;
    margin-right: 10px;
    width: 150px;
    text-align: center;
  }

  .text-area{
    width: 250px;
    height: 100px;
  }
}










@media all and (min-width:425px) and (max-width:767px){
  #header{
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 74px;
  }

  .site img{
    width: 150px;
  }
  
  /* ナビ部分 */
  nav{
    margin-top: 40px;
  }

  .cf{
    justify-content: space-between;
    margin: 0;
  }

  .cfli{
    padding-left: 25px;
    font-size: 8px;
    margin: 0px;
    width: 50%;
    float: left;
  }

  /* ヘッダー */


  .timg{
    width: 100%;
    margin: 200px 0 0 0;
    padding-left: 0;
  }

  .timg::after{
    display: none;
  }

  .guitar{
    width: 100%;
    /* object-position: 100% 100%; */
    object-fit: cover;
    position: relative;
    z-index: 20;
  }

  .menubox{
    display: block;
  }

  .mainbox1{
    background-color: #FA8C64;
    width: 200px;
    height: 200px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
    position: relative;
  }

  .mainbox1 img{
    width: 200px;
    height: 200px;
    opacity: .5;
  }

  .mainbox1 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox2{
    background-color: #FA8C64;
    width: 200px;
    height: 200px;
    opacity: .9;
    position: relative;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox2 img{
    width: 200px;
    height: 200px;
    opacity: .5;
  }

  .mainbox2 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox3{
    background-color: #FA8C64;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    opacity: .9;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox3 img{
    width: 200px;
    height: 200px;
    opacity: .5;
  }

  .mainbox3 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .conts{
    margin-top: 180px;
  }

  .conts-container{
    display: block;
  }

  .conts img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin: auto;
  }

  .conts h2{
    font-size: 30px;
    text-align: center;
  }

  .conts p{
    width: 100%;
    height: auto;
    margin: 50px auto;
  }

  .company{
    background: #F2F2F2;
    height: 1900px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .company p{
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    padding: 50px;
  }

  .companyul{
    display: block;
    width: 60%;
    margin: auto;
    border: none;
  }

  .companyli{
    list-style: none;
    display: block;
    border-bottom: none;
    margin: 0px;
  }

  .farstli{
    border-top: 2px solid #333;
  }

  .front{
    background-color: rgba(51, 51, 51, 0.2);
    margin-right: 50px;
    width: 87%;
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 5px;
    margin-right: 0px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rear{
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    width: 87%;
    padding:5px;
    margin-right: 0px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .map{
    margin: 180px 50px 50px 50px;
  }

  .mapflex{
    display: block;
    margin: 180px auto;
  }

  .mapflex>iframe{
    width: 260px;
    height: 260px;
  }

  .flex-ul{
    display: block;
  }

  .mapli{
    display: flex;
    list-style: none;
    padding-bottom: 50px;
    vertical-align: middle;
  }

  .mapli-menu{
    font-size: 10px;
    width: 70px;
  }

  .contact{
    width: 100%;
    height: auto;
  }

  .ctext{
    text-align: center;
    color: #333333;
    padding: 50px;
  }

  .cbtn{
    width: 90px;
    height: 40px;
    border-radius: 15px;
    background-color: #EB6101;
    box-shadow: 0px 5px 4px #333;
    margin: auto;
    z-index: 1;
  }

  .cbtn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 8px;
    z-index: 2;
    display: block;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .cbtn:active{
    position: relative;
    top: 5px;
    box-shadow: none
  }

  footer{
    background: #BC763C;
    color: #efefef;
    display: flex;
  }

  .f-container{
    width: 81px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .f-container img{
    width: 81px;
  }

  .nav-container{
    display: flex;
  }

  .nav-ul{
    display: block;
  }

  .nav-li{
    margin: 30px;
    list-style: none;
    font-size: 10px;
  }

  .sns{
    display: block;
    list-style: none;
  }

  .facebook,.twitter,.instagram{
    margin: 30px;
    font-size: 10px;
  }






  /* ここからcompany.htmlのcss */
  main>h1{
    margin-top: 300px;
    text-align: center;
    font-size: 32px;
  }

  .factory{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 590px;
    position: relative;
  }

  .f-container{
    width: auto;
    /* margin-left: 50px; */
  }

  .f-container h2{
    margin-left: 30px;
    font-size: 16px;
  }

  .factory p{
    width: 50%;
    height: auto;
    text-align: justify;
    text-justify: inter-ideograph;
    z-index: 100;
    font-size: 10px;
  }

  .factory img{
    width: 300px;
    object-fit: cover;
    /* height: 600px; */
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: -100;
    display: block;
  }

  .line{
    width: 80%;
    margin-left: 50px;
  }

  .line h2{
    margin-left: 30px;
    font-size: 16px;
  }

  .line p{
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 10px;
  }

  .img-cluster{
    display: flex;
    margin-top: 30px;
  }

  .img-cluster img{
    width: 73px;
    height: 73px;
  }

  .factory-map{
    margin: auto;
    width: 552px;
  }

  .mapli{
    padding: 0;
    margin-top: 30px;
  }
  
  .mapli p{
    font-size: 10px;
    margin: 0;
  }

  .mapli-p1{
    width: 70px;
    font-size: 10px;
    margin-left: 30px;
  }

  .mapli-front{
    width: 130px;
    padding-left: 20px;
  }







  /* ここからwork.htmlのcss */

  .manu-guitar-box{
    display: block;
  }

  .guitar-menu1{
    justify-content: space-between;
    display: flex;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .guitar-menu2{
    justify-content: space-between;
    display: flex;
  }

  .guitar-menu1 ul{
    margin-top: 20px;
  }

  .guitar-menu2 ul{
    margin-top: 20px;
  }

  .guitar-menu1 li{
    list-style: none;
    display: flex;
  }

  .guitar-menu2 li{
    list-style: none;
    display: flex;
  }

  .guiytar-front{
    width: 50px;
    margin-right: 10px;
    font-size: 8px;
  }

  .guiytar-rear{
    font-size: 8px;
  }

  .guitar-box1{
    margin: auto;
    width: 150px;
  }

  .guitar-box2{
    margin: auto;
    width: 150px;
  }

  .guitar-box3{
    margin: auto;
    width: 150px;
  }

  .guitar-box4{
    margin: auto;
    width: 150px;
  }

  .guitar-box1 img{
    width: 150px;
    height: 150px;
  }

  .guitar-box2 img{
    width: 150px;
    height: 150px;
  }

  .guitar-box3 img{
    width: 150px;
    height: 150px;
  }

  .guitar-box4 img{
    width: 150px;
    height: 150px;
  }

  .alliance{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance>h2{
    width: 275px;
    box-sizing: border-box;
  }

  .alliance h2,h2+h3{
    text-align: center;
    margin: 100px auto;
  }

  .alliance-company{
    display: block;
    width: 85%;
    justify-content: space-between;
  }

  .alliance-company2{
    display: flex;
    flex-direction: column-reverse;
  }

  .alliance-company img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company2 img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company p{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance-company2 p{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }









  /* ここからjob.html のcss */
  .job-main{
    width: 100%;
  }

  .job-1{
    margin: auto;
  }

  .job-1 h2{
    font-size: 20px;
    text-align: center;
    margin-top: 180px;
  }
  .job-container{
    display: block;
    margin-top: 150px; 
  }

  .job-a img{
    display: block;
    /* height: 150px; */
    width: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b{
    width: 350px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b h3{
    font-size: 16px;
    text-align: center;
  }

  .job-b p{
    margin-top: 50px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .job-2{
    background: #F2F2F2;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    height: 1600px;
    width: 80%;
  }

  .job-2 p{
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding: 40px;
  }

  .job-2-ul{
    display: block;
    width: 80%;
    margin: auto;
  }

  .job-2-li{
    display: block;
    list-style: none;
    height: auto;
  }

  .job-2-front{
    padding: 20px 5px;
    width: 100%;
    height: auto;
    border: none;
    margin: 0;
    border-bottom: 2px solid #333;
    box-sizing: border-box;
    background-color:rgba(51, 51, 51, 0.2);
  }

  .job-2-rear{
    padding: 20px 10px 20px 10px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }








  /* ここからcontact.htmlのcss */
  .ctell{
    margin-top: 80px;
  }

  .cbtn{
    margin-bottom: 180px;
  }

  .contact-btn{
    width: 70px;
    height: 50px;
    background-color: #EB6101;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0px 2px 4px #333;
    border-radius: 10px;
    z-index: 1;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .contact-btn:active{
    position: relative;
    top: 2px;
    box-shadow: none
  }

  .contact-btn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    display: block;
  }

  #contact-form{
    margin: auto;
    height: 1000px;
  }

  .job-3 h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 50px;
  }

  .job-3-p{
    font-size: 8px;
    margin-bottom: 50px;
  }

  .job-3-box1{
    text-align: left;
    margin: 10px auto;
    display: block;
    height: 80px;
  }

  .contact-text{
    height: 20px;
    width: 230px;
  }

  .contact-menu{
    font-size: 10px;
    width: 150px;
    text-align: left;
  }

  .text-area{
    width: 230px;
    height: 60px;
  }

  .contact-btn{
    width: 50px;
    height: 30px;
  }

  .contact-btn a{
    line-height: 35px;
    font-size: 10px;
  }
}










@media all and (max-width:424px){
  #header{
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 74px;
  }

  .site img{
    width: 150px;
  }
  
  /* ナビ部分 */
  nav{
    margin-top: 40px;
  }

  .cf{
    justify-content: space-between;
    margin: 0;
  }

  .cfli{
    font-size: 8px;
    margin: 0px;
  }

  /* ヘッダー */


  .timg{
    width: 100%;
    margin: 200px 0 0 0;
    padding-left: 0;
  }

  .timg::after{
    display: none;
  }

  .guitar{
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 20;
  }

  .menubox{
    display: block;
  }

  .mainbox1{
    background-color: #FA8C64;
    width: 150px;
    height: 150px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
    position: relative;
  }

  .mainbox1 img{
    width: 150px;
    height: 150px;
    opacity: .5;
  }

  .mainbox1 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox2{
    background-color: #FA8C64;
    width: 150px;
    height: 150px;
    opacity: .9;
    position: relative;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox2 img{
    width: 150px;
    height: 150px;
    opacity: .5;
  }

  .mainbox2 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .mainbox3{
    background-color: #FA8C64;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    opacity: .9;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .mainbox3 img{
    width: 150px;
    height: 150px;
    opacity: .5;
  }

  .mainbox3 p{
    color: #efefef;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

  .conts{
    margin-top: 180px;
  }

  .conts-container{
    display: block;
  }

  .conts img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin: auto;
  }

  .conts h2{
    font-size: 16px;
    text-align: center;
  }

  .conts p{
    width: 100%;
    height: auto;
    margin: 50px auto;
    font-size: 8px;
  }

  .company{
    background: #F2F2F2;
    height: 1900px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .company p{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 50px;
  }

  .companyul{
    display: block;
    width: 80%;
    margin: auto;
    border: none;
  }

  .companyli{
    width: 100%;
    list-style: none;
    display: block;
    border-bottom: none;
    margin: 0px;
  }

  .farstli{
    border-top: 2px solid #333;
  }

  .front{
    background-color: rgba(51, 51, 51, 0.2);
    margin-right: 0px;
    width: 87%;
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 5px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }

  .rear{
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    width: 87%;
    padding:5px;
    margin-right: 0px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }

  .map{
    margin: 180px auto;
  }

  .mapflex{
    display: block;
    margin: 180px auto;
    width: fit-content;
  }

  .mapflex>iframe{
    width: 260px;
    height: 260px;
  }

  .flex-ul{
    display: block;
  }

  .mapli{
    display: flex;
    list-style: none;
    padding-bottom: 50px;
    vertical-align: middle;
  }

  .mapli-menu{
    font-size: 10px;
    width: 70px;
  }

  .contact{
    width: 100%;
    height: auto;
  }

  .ctext{
    text-align: center;
    color: #333333;
    padding: 50px;
    font-size: 8px;
  }

  .cbtn{
    width: 90px;
    height: 40px;
    border-radius: 15px;
    background-color: #EB6101;
    box-shadow: 0px 5px 4px #333;
    margin: auto;
    z-index: 1;
  }

  .cbtn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 8px;
    z-index: 2;
    display: block;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .cbtn:active{
    position: relative;
    top: 5px;
    box-shadow: none
  }

  footer{
    background: #BC763C;
    color: #efefef;
    display: flex;
  }

  .f-container{
    width: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .f-container img{
    width: 50px;
  }

  .nav-container{
    display: flex;
  }

  .nav-ul{
    display: block;
    font-size: 8px;
  }

  .nav-li{
    margin: 30px;
    list-style: none;
    font-size: 5px;
  }

  .sns{
    display: block;
    list-style: none;
  }

  .facebook,.twitter,.instagram{
    margin: 30px;
    font-size: 5px;
  }






  /* ここからcompany.htmlのcss */
  main>h1{
    margin-top: 300px;
    text-align: center;
    font-size: 24px;
  }

  .factory{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 590px;
    position: relative;
  }

  .f-container{
    width: auto;
    /* margin-left: 50px; */
  }

  .f-container h2{
    margin-left: 30px;
    font-size: 16px;
  }

  .factory p{
    width: 50%;
    height: auto;
    text-align: justify;
    text-justify: inter-ideograph;
    z-index: 100;
    font-size: 10px;
  }

  .factory img{
    width: 300px;
    object-fit: cover;
    /* height: 600px; */
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: -100;
    display: block;
  }

  .line{
    width: 80%;
    margin: auto;
  }

  .line h2{
    margin-left: 30px;
    font-size: 16px;
  }

  .line p{
    margin: auto;
    font-size: 10px;
  }

  .img-cluster{
    display: flex;
    margin-top: 30px;
  }

  .img-cluster img{
    width: 52px;
    height: 52px;
  }

  .factory-map{
    margin: auto;
    width: 552px;
  }

  .mapli{
    padding: 0;
    margin-top: 30px;
  }
  
  .mapli p{
    font-size: 10px;
    margin: 0;
  }

  .mapli-p1{
    width: 70px;
    font-size: 10px;
    margin-left: 20px;
  }

  .mapli-front{
    width: 130px;
    padding-left: 20px;
  }







  /* ここからwork.htmlのcss */

  .manu-guitar-box{
    display: block;
  }

  .guitar-menu1{
    justify-content: space-between;
    display: block;
    margin: auto;
  }

  .guitar-menu2{
    justify-content: space-between;
    display: block;
    margin: auto;
  }

  .guitar-menu1 ul{
    margin-top: 20px;
  }

  .guitar-menu2 ul{
    margin-top: 20px;
  }

  .guitar-menu1 li{
    list-style: none;
    display: flex;
  }

  .guitar-menu2 li{
    list-style: none;
    display: flex;
  }

  .guiytar-front{
    width: 50px;
    margin-right: 10px;
    font-size: 8px;
  }

  .guiytar-rear{
    font-size: 8px;
  }

  .guitar-box1{
    margin: 30px auto;
    padding-top: 150px;
    width: 150px;
  }

  .guitar-box2{
    margin: 30px auto;
    width: 150px;
  }

  .guitar-box3{
    margin: 30px auto;
    width: 150px;
  }

  .guitar-box4{
    margin: 30px auto;
    width: 150px;
  }

  .guitar-box1 img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .guitar-box2 img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .guitar-box3 img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .guitar-box4 img{
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .alliance{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .alliance>h2{
    width: 275px;
    box-sizing: border-box;
  } */

  .alliance h2,h2+h3{
    text-align: center;
    margin: 100px auto;
  }

  .alliance h2{
    font-size: 16px;
  }

  .alliance h3{
    font-size: 8px;
  }

  .alliance-company{
    display: block;
    width: 85%;
    justify-content: space-between;
  }

  .alliance-company2{
    display: flex;
    flex-direction: column-reverse;
  }

  .alliance-company img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company2 img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .alliance-company p{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .alliance-company2 p{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }









  /* ここからjob.html のcss */
  .job-main{
    width: 100%;
  }

  .job-1{
    width: 80%;
    margin: auto;
  }

  .job-1 h2{
    font-size: 20px;
    text-align: center;
    margin-top: 180px;
  }
  .job-container{
    width: 250px;
    display: block;
    margin-top: 150px; 
  }

  .job-a img{
    display: block;
    /* height: 150px; */
    width: 250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b{
    width: 250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .job-b h3{
    font-size: 16px;
    text-align: center;
  }

  .job-b p{
    margin-top: 50px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .job-2{
    background: #F2F2F2;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    height: 1650px;
    width: 80%;
  }

  .job-2 p{
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding: 40px;
  }

  .job-2-ul{
    display: block;
    width: 80%;
    margin: auto;
  }

  .job-2-li{
    display: block;
    list-style: none;
    height: auto;
  }

  .job-2-front{
    padding: 20px 5px;
    width: 100%;
    height: auto;
    border: none;
    margin: 0;
    border-bottom: 2px solid #333;
    box-sizing: border-box;
    background-color:rgba(51, 51, 51, 0.2);
  }

  .job-2-rear{
    padding: 20px 10px 20px 10px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }








  /* ここからcontact.htmlのcss */
  .ctell{
    margin-top: 80px;
  }

  .cbtn{
    margin-bottom: 180px;
  }

  .contact-btn{
    width: 70px;
    height: 50px;
    background-color: #EB6101;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0px 2px 4px #333;
    border-radius: 10px;
    z-index: 1;
  }

  .cbtn:hover{
    opacity: 0.8;
  }

  .contact-btn:active{
    position: relative;
    top: 2px;
    box-shadow: none
  }

  .contact-btn a{
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    display: block;
  }

  #contact-form{
    margin: auto;
    height: 830px;
  }

  .job-3 h2{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 50px;
  }

  .job-3-p{
    font-size: 8px;
    margin: auto;
    width: 150px;
    padding: 30px 0 30px 0 ;
  }

  .job-3-box1{
    text-align: left;
    margin: 10px auto;
    display: block;
    height: 80px;
  }

  .contact-text{
    height: 20px;
    width: 150px;
    margin: auto;
  }

  .contact-menu{
    font-size: 8px;
    width: 150px;
    margin: auto;
  }

  .text-area{
    width: 150px;
    height: 40px;
  }

  .contact-btn{
    width: 40px;
    height: 20px;
    margin-top: 50px;
  }

  .contact-btn a{
    font-size: 8px;
    line-height: 22px;
  }
}